html {
    overflow-x: hidden;
}

.navbar-brand a img {
    width: 250px;
    height: auto;
}

body {
    background: #10101a;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}

img {
    max-width: 100%; 
}

* {
    outline: none !important;
}

a {
    color: #ffc107;
}

a:hover {
    color: #ffc107;
    text-decoration: none;
}

.header-left {
    width: 80px;
    position: fixed;
    bottom: 0;
    top: 0;
    background: #0c0c14;
    border-right: 1px solid rgba(11, 11, 19, 0.1);
    z-index: 99999;
}

.header-left .top a {
    background: #ffc107;
    color: white;
    font-weight: 600;
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.header-left .nav-menu {
    padding-top: 45px;
    padding-bottom: 45px;
    
}

.nav-menu li {
    width: 100%;
}

.nav-menu li+li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link {
    margin: 0;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: ease all 0.35s;
}

.nav-link i {
    font-size: 37px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

button.toggler-menu {
    background: none;
    border: none;
}

.mob-header {
    padding: 15px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

.toggler-menu {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
    background: #ffc107;
    border: none;
    margin-left: auto;
}

.toggler-menu span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: auto;
    background: #fff;
    color: white;
    box-shadow: 0px -8px 0 0 currentColor, 0px 8px 0 0 currentColor;
}

@media (max-width: 767px) {
    .mob-header {
        display: block;
    }

    .header-left {
        transition: ease all 0.35s;
        left: -200px;
        z-index: 222;
    }

    .header-left.menu-open {
        left: 0;
    }
}